@use "../common/common.scss";

.recommendation {
    background: var(--black);
    width: 100%;
}

.recommendation__wrapper {
    max-width: 1366px;
    margin: auto;
    padding: 3rem 0 8rem 0;
}

.recommendation__title {
    font: var(--h2);
    color: var(--white);
    margin-bottom: 7rem;
}

.recommendation__culture {
    color: var(--dark-pink);
    font-style: italic;
}
