@use "../common/common.scss";

.message {
  text-align: center;
  padding: 42vh 2rem 4rem 2rem;
  overflow: hidden;
}

.message__text {
  font: var(--fav-empty);
  color: var(--white);
  margin: 2rem auto;
}

.message__empty {
  display: block;
  position: relative;
  right: 10rem;
}

.message__suggestion {
  display: block;
  position: relative;
  left: 7rem;
}

.message__explore {
  color: var(--light-pink);
  font-style: italic;
  font-weight: 500;
}

.message__button-wrapper {
  display: inline-block;
  background: none;
  text-decoration: none;
  color: var(--light-pink);
  border: var(--light-pink) 1px solid;
  font: var(--button);
  letter-spacing: 0.03rem;
  padding: 0.4rem 1rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: color 0.2s ease-out, border 0.2s ease-out;

  &:hover,
  &:focus-visible {
    color: var(--black);
    border: var(--light-pink) solid 1px;
    transition: color 0.5s ease-out, border 0.5s ease-out;
  }

  &::before {
    background: var(--light-pink);
    content: "";
    height: 200px;
    left: 0;
    opacity: 0.9;
    position: absolute;
    top: -50px;
    transform: rotate(45deg) scale(10) translateX(-80%);
    width: 50px;
    transition: transform 0.5s ease-out;
  }

  &:hover::before,
  &:focus-visible::before {
    transform: rotate(45deg) scale(10) translateX(30%);
    transition: transform 0.8s ease-out;
  }
}

.message__button-text {
  z-index: 1;
  position: relative;
}

@media (max-width: 900px) {
  .message__suggestion {
    left: 5rem;
  }

  .message__empty {
    right: 10rem;
  }

  .message__text {
    --fav-empty: 2.5rem var(--font);
  }
}

@media (max-width: 700px) {
  .message__suggestion {
    left: 4rem;
  }

  .message__empty {
    right: 8rem;
  }

  .message__text {
    --fav-empty: 2.3rem var(--font);
  }
}

@media (max-width: 600px) {
  .message__suggestion {
    left: 2.5rem;
  }

  .message__empty {
    right: 6.5rem;
  }
}

@media (max-width: 500px) {
  .message__suggestion {
    left: 2rem;
  }

  .message__empty {
    right: 5rem;
  }

  .message__text {
    --fav-empty: 2rem var(--font);
  }
}

@media (max-width: 400px) {
  .message__suggestion {
    left: 0;
    margin-top: 0.7rem;
  }

  .message__empty {
    right: 0;
  }  

  .message__text {
    --fav-empty: 1.7rem var(--font);
  }
}
