@use "../common/common.scss";

.fav-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  column-gap: 5%;
  place-items: start center;
  justify-content: center;
  list-style: none;
  margin: 8rem auto 5rem auto;
  padding: 0;
}

.fav-list__sub-list {
  list-style: none;
  padding: 0;
}

@media (max-width: 1450px) {
  .fav-list {
    column-gap: 3%;
    grid-template-columns: repeat(3, 350px);
  }
}

@media (max-width: 1200px) {
  .fav-list {
    column-gap: 3%;
    grid-template-columns: repeat(3, 300px);
    margin-top: 6rem;
  }
}

@media (max-width: 1050px) {
  .fav-list {
    column-gap: 3%;
    grid-template-columns: repeat(3, 260px);
  }
}

@media (max-width: 900px) {
  .fav-list {
    @include common.flex-center;
    flex-direction: column;
    column-gap: 0;
  }
}

@media (max-width: 550px) {
  .fav-list {
    margin-top: 3rem
  }
}