@use "../common/common.scss";

.fav-list__item {
  margin-bottom: 6.8rem;
  width: 400px;
}

.fav-list__item .standard-button__img {
  width: 100%;
  height: auto;
  display: block;
}

.fav-list__item .standard-button {
  border: none;
  background: none;
  transition: none;
  padding: 0;
  display: block;
  transition: transform 0.2s, box-shadow 0.2s;

  &::before,
  &::after {
    display: none;
    content: "";
  }

  &:hover,
  &:focus-visible {
    transform: scale(1.05);
    box-shadow: 0 10px 5px -7px rgb(167, 164, 164);
  }

  &:focus-visible {
    outline: 10px solid var(--black);
  }
}

.fav-list__item .standard-button__text {
  display: none;
}

@media (max-width: 1450px) {
  .fav-list__item {
    margin-bottom: 4rem;
    width: 350px;
  }
}

@media (max-width: 1200px) {
  .fav-list__item {
    margin-bottom: 3.5rem;
    width: 300px;
  }
}

@media (max-width: 1050px) {
  .fav-list__item {
    margin-bottom: 3rem;
    width: 260px;
  }
}

@media (max-width: 900px) {
  .fav-list__item {
    margin-bottom: 4rem;
    width: 450px;
  }
}

@media (max-width: 500px) {
  .fav-list__item {
    margin-bottom: 3rem;
    width: 350px;
  }
}

@media (max-width: 400px) {
  .fav-list__item {
    margin-bottom: 2.5rem;
    width: 300px;
  }
}

@media (max-width: 350px) {
  .fav-list__item {
    margin-bottom: 2.3rem;
    width: 270px;
  }
}