@use "./common.scss";

.art-info {
	display: grid;
	grid-template-columns: 3fr 2fr;
	column-gap: 15%;
	max-width: 1366px;
	margin: auto;
	padding: 5rem 0;
}

.art-info__wrapper {
	@include common.flex-center;
	align-items: flex-start;
}

.art-info__image {
	max-width: 670px;
	height: auto;
}

.art-info__image-wrapper {
	@include common.flex-center;
	flex-direction: column;
}

.art-info__text-wrapper,
.art-info__block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	& * :not(.standard-button):not(.art-info__title):note(.art-info__text) {
		padding: 0;
		margin: 0;
	}
}

.art-info__block {
	margin-bottom: 2rem;
}

.art-info__block--header {
	margin-bottom: 4.5rem;
}

.art-info__name {
	font: var(--h2);
	color: var(--red);
	letter-spacing: 0.05rem;
	margin: 0;
	margin-bottom: 0.3rem;
}

.art-info__text {
	font: var(--p);
	color: var(--dark-gray);
	margin: 0.2rem 0;
}

.art-info__text--italic {
	font-style: italic;
}

.art-info__title {
	font: var(--h3);
	color: var(--red);
	margin: 0;
}

.art-info__button {
	margin: 0.5rem 0;
}
