@use "./common.scss";

.art-info {
  display: grid;
  grid-template-columns: 3fr 2fr;
  column-gap: 10%;
  max-width: 1366px;
  margin: auto;
  position: relative;
  padding: 5rem 0;
}

.art-info__wrapper {
  @include common.flex-center;

  .home-main & {
    padding: 5rem 0;
  }
}

.art-info__image {
  max-width: 670px;
  height: auto;
}

.art-info__image-wrapper {
  @include common.flex-center;
  flex-direction: column;
}

.art-info__text-wrapper,
.art-info__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  & * :not(.standard-button):not(.art-info__title):note(.art-info__text) {
    padding: 0;
    margin: 0;
  }
}

.art-info__block {
  margin-bottom: 2rem;
}

.art-info__block--header {
  margin-bottom: 4.5rem;
}

.art-info__name {
  font: var(--h2);
  color: var(--red);
  letter-spacing: 0.05rem;
  margin: 0;
  margin-bottom: 0.3rem;
}

.art-info__text {
  font: var(--p);
  color: var(--dark-gray);
  margin: 0.2rem 0;
}

.art-info__text--italic {
  font-style: italic;
}

.art-info__title {
  font: var(--h3);
  color: var(--red);
  margin: 0;
  margin-bottom: 0.4rem;
}

.art-info__button {
  margin: 0.5rem 0;
}

.home-main .art-info {
  @media (max-width: 1460px) {
    column-gap: 3.5rem;
    padding: 0 2rem;
  }

  @media (max-width: 1300px) and (min-width: 1050px) {
    .art-info__image {
      max-width: 560px;
    }

    & {
      --h2: 500 3rem var(--font);
      --h3: 500 2rem var(--font);
      --p: 1.3rem var(--font);
      --button: 600 1.4rem var(--font);
    }
  }

  @media (max-width: 1050px) {
    @include common.flex-center;
    flex-direction: column;
    column-gap: 0;
    padding: 0;
    width: 100%;

    .art-info__image {
      max-width: 90%;
    }

    .art-info__wrapper {
      width: 100%;
      padding: 0;
    }

    .art-info__wrapper--text {
      padding-top: 2.5rem;
    }

    .art-info__detail-wrapper {
      @include common.flex-center;
      flex-direction: column;
      background: var(--black);
      width: 100%;
      padding: 6rem 0 2rem 0;
      margin-top: 6rem;
    }

    .art-info__block:not(.art-info__block--header) {
      margin-bottom: 3rem;
      text-align: center;
      align-items: center;
      width: 100%;

      .art-info__title,
      .art-info__text {
        max-width: 70%;
      }
    }

    .art-info__block--header {
      align-items: center;
      text-align: center;
      padding: 0 2rem;

      .art-info__text {
        color: var(--dark-gray);
      }
    }

    .art-info__text-wrapper {
      width: 100%;
      align-items: center;
    }

    .art-info__title {
      color: var(--dark-pink);
    }

    .art-info__text {
      color: var(--white);
    }

    .art-info__button {
      &.standard-button {
        color: var(--dark-pink);
        border: var(--dark-pink) 1px solid;
      }

      &::before {
        background: var(--light-pink);
      }

      &:hover,
      &:focus-visible {
        color: var(--black);
      }
    }
  }

  @media (max-width: 650px) {
    --h2: 500 2.7rem var(--font);
    --h3: 500 2rem var(--font);
    --p: 1.3rem var(--font);
    --button: 600 1.3rem var(--font);

    .art-info__image {
      max-width: 95%;
    }

    .art-info__detail-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .art-info__block:not(.art-info__block--header) {
      align-items: flex-end;
      text-align: right;
      padding-right: 1rem;
    }

    .art-info__detail-wrapper {
      margin-top: 4rem;
    }
  }

  .fav-button,
  .fav-button--true {
    &::after {
      left: 1rem;
      top: 0.35rem;
    }

    & .standard-button__text {
      padding-left: 2rem;
    }
  }

  @media (max-width: 450px) {
    & {
      --h2: 500 2.5rem var(--font);
    }

    .art-info__block--header {
      padding: 0 1rem;
    }
  }
}
