@use "./common.scss";

.standard-button {
  background: none;
  text-decoration: none;
  color: var(--red);
  border: var(--red) 1px solid;
  font: var(--button);
  letter-spacing: 0.03rem;
  padding: 0.4rem 1rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: color 0.2s ease-out, border 0.2s ease-out;

  &:hover,
  &:focus-visible {
    color: var(--white);
    border: #b18181 solid 1px;
    transition: color 0.5s ease-out, border 0.5s ease-out;
  }

  &::before {
    background: #b18181;
    content: "";
    height: 200px;
    left: 0;
    opacity: 0.9;
    position: absolute;
    top: -50px;
    transform: rotate(45deg) scale(10) translateX(-80%);
    width: 50px;
    transition: transform 0.5s ease-out;
  }

  &:hover::before,
  &:focus-visible::before {
    transform: rotate(45deg) scale(10) translateX(30%);
    transition: transform 0.8s ease-out;
  }
}

.standard-button__text {
  z-index: 1;
  position: relative;
}
