@use "./common.scss";

.footer {
  background: var(--black);
  color: var(--light-gray);
  font: var(--footer);
  margin-top: auto;
}

.footer__wrapper {
  max-width: 1366px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin: auto;
  padding: 0.8rem 0;
}

.footer__credit {
  margin: 0.2rem 0;
}

.footer__link {
  color: inherit;
  transition: color 0.1s;
  white-space: nowrap;

  &:visited {
    color: inherit;
  }

  &:hover,
  &:focus-visible {
    color: var(--white);
  }
}

@media (max-width: 1400px) {
  .footer {
    padding-right: 1rem;
  }
}

@media (max-width: 500px) {
  .footer {
    padding: 0 1rem;
  }
  .footer__wrapper {
    align-items: center;
  }

  .footer__credit--museum {
    @include common.flex-center;
    flex-direction: column;
    margin-bottom: 0.3rem;
  }
}

@media (max-width: 360px) {
  .footer {
    --footer: 0.9rem var(--font);
  }

  .footer__credit--museum {
    @include common.flex-center;
    flex-direction: column;
    margin-bottom: 0.2rem;
  }
}
