@use "./common.scss";

.header {
  width: 100%;
  padding: 0;
}

.nav {
  max-width: 1366px;
  @include common.flex-center;
  padding: 1.5rem 0;
  position: relative;
  margin: auto;
}

.nav__logo {
  font: var(--logo);
  margin: 0;

  .background-image & {
    color: var(--white);
  }
}

.nav__logo-link {
  @include common.link-reset;
  color: var(--dark-gray);
}

.nav__logo--colored {
  color: var(--red);

  .background-image & {
    color: var(--light-pink);
  }
}

.nav__menu {
  position: absolute;
  right: 0;
  list-style: none;
}

.nav__list-item {
  display: inline-block;
  margin-left: 3.4rem;
}

.nav__img {
  display: none;
}

.nav__link {
  font: var(--nav);
  text-decoration: none;
  color: var(--dark-gray);
  padding-bottom: 0.3rem;
  border-bottom: 0px solid transparent;
  transition: color 0.3s;
  position: relative;

  .background-image & {
    color: var(--white);
  }

  &::after {
    content: "";
    display: block;
    border-bottom: 1px solid var(--red);
    width: 0;
    position: relative;
    top: 0.3rem;
    transition: width 0.3s;

    .background-image & {
      border-bottom: 1px solid var(--light-pink);
    }
  }

  &::before {
    content: "";
    display: block;
    border-top: 1px solid var(--red);
    width: 0;
    position: absolute;
    top: -0.2rem;
    right: 0;
    bottom: 0.3rem;
    transition: width 0.3s;

    .background-image & {
      border-top: 1px solid var(--light-pink);
    }
  }

  &:hover,
  &:focus-visible,
  &--active {
    color: var(--red);

    .background-image & {
      color: var(--light-pink);
    }

    &::after {
      width: 30%;
    }

    &::before {
      width: 30%;
    }
  }

  &:active {
    &::after {
      width: 60%;
      transition: width 0.1s;
    }

    &::before {
      width: 60%;
      transition: width 0.1s;
    }
  }
}

@media (max-width: 1366px) {
  .header {
    padding: 0 1rem;
  }
}

@media (max-width: 1000px) {
  .nav__list-item {
    margin-left: 2rem;
  }
}

@media (max-width: 900px) {
  .nav__text {
    display: none;
  }

  .nav__img {
    display: inline;
    transition: transform 0.2s;
    height: 25px;
    width: auto;
  }

  .nav__link {
    padding: 0;

    &:hover,
    &:focus-visible {
      .nav__img {
        transform: scale(1.2);
      }
    }

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }
}

@media (max-width: 750px) {
  .nav {
    --logo: 500 2rem var(--font);
  }
}

@media (max-width: 500px) {
  .nav__list-item {
    margin-left: 1.5rem;
  }

  .nav {
    justify-content: flex-start;
  }

  .nav__img {
    height: 23px;
  }
}

@media (max-width: 350px) {
  .nav__list-item {
    margin-left: 1rem;
  }

  .nav__img {
    height: 20px;
  }
}
